@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B232A;
  font-family: Neue Montreal, system-ui, sans-serif;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

p {
  padding: 0;
}

.input-standard {
  @apply block bg-dark w-full pl-5 py-3 text-sm text-white border-2 border-gray rounded-lg 
    focus:border-green focus:ring-green focus:outline-none focus:ring focus:ring-opacity-40;
}