@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B232A;
  font-family: Neue Montreal, system-ui, sans-serif;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
